* {
  background-color: #004643;
}

footer {
  color: white;
}

.intro-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fffffe;
  font-size: 25px;
  text-shadow: 4px 4px 0 #000, -4px -4px 0 #000, 4px -4px 0 #000,
    -4px 4px 0 #000, 0px 4px 0 #000, 4px 0px 0 #000, 0px -4px 0 #000,
    -4px 0px 0 #000;
}

.images-and-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: #abd1c6;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.images-and-inputs img {
  width: 100%;
  height: auto;
  max-width: 200px;
  max-height: 200px;
  margin: 5px;
  border-radius: 5px;
  object-fit: cover;
}

#meme-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: helvetica;
}

.meme-label,
.meme-input {
  background-color: transparent;
  width: 50%;
  box-sizing: border-box;
  font-size: 14px;
}

.meme-label {
  color: white;
  margin-bottom: 5px;
  text-align: left;
}

.meme-input {
  background-color: #e8e4e6;
  border: 2px solid #28a745;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
}

#meme-submit {
  background-color: #f9bc60;
  color: #001e1d;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  width: 25%;
  font-size: 16px;
  cursor: pointer;
  box-sizing: border-box;
  margin-top: 20px;
}

.valid {
  background-color: rgb(44, 211, 149);
  border: 2px solid rgb(10, 143, 10);
  border-radius: 4px;
}

.invalid {
  background-color: #e16162;
  border: 2px solid #b04e4e;
  border-radius: 4px;
}

.invalid-input {
  color: white;
}

.currentFocus {
  border: 3px solid #f9bc60;
  box-shadow: 5px 5px 10px #f9bc60;
  border-radius: 4px;
  outline: none;
}

@media (max-width: 480px) {
  .intro-text {
    font-size: 16px;
  }

  .images-and-inputs {
    flex-direction: column;
    width: 100%;
    padding: 10px;
  }

  .images-and-inputs img {
    max-width: 120px;
    max-height: 120px;
  }

  .meme-label,
  .meme-input {
    width: 100%;
    font-size: 10px;
  }

  #meme-submit {
    width: 70%;
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .intro-text {
    font-size: 18px;
  }

  .images-and-inputs {
    flex-direction: column;
    width: 80%;
    padding: 15px;
  }

  .images-and-inputs img {
    max-width: 150px;
    max-height: 150px;
  }

  .meme-label,
  .meme-input {
    width: 80%;
    font-size: 12px;
  }

  #meme-submit {
    width: 50%;
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  .intro-text {
    font-size: 36px;
  }

  .images-and-inputs {
    width: 80%;
  }

  .images-and-inputs img {
    max-width: 200px;
    max-height: 200px;
  }

  .meme-label,
  .meme-input {
    width: 70%;
    font-size: 20px;
  }
}

@media (min-width: 1400px) {
  .images-and-inputs img {
    max-width: 200px;
    max-height: 200px;
  }
}
