* {
    background-color: #004643;
  }

.freeway {
    color: white

}

.container {
    position: fixed;
    text-align: center;
    color: white;
}

.freewayTop {
    position: absolute;
    top: 100px;
    left: 180px;
    background-color: transparent;
    font-size: 25px;
    max-width: 150px;
}

.freewayBottom {
    position: absolute;
    top: 120px;
    right: 240px;
    background-color: transparent;
    font-size: 25px;
    max-width: 150px;
}

.drakeTop {
    position: absolute;
    color: black;
    top: 120px;
    right: 120px;
    background-color: transparent;
    font-size: 35px;
    max-width: 250px;
}

.drakeBottom {
    position: absolute;
    color: black;
    bottom: 120px;
    right: 120px;
    background-color: transparent;
    font-size: 35px;
    max-width: 250px;
}

.tradeofferTop {
    position: absolute;
    top: 120px;
    left: 1px;
    background-color: transparent;
    font-size: 20px;
    max-width: 200px;
}

.tradeofferBottom {
    position: absolute;
    top: 120px;
    right: 1px;
    background-color: transparent;
    font-size: 20px;
    max-width: 200px;
}