* {
  background-color: #004643;
  box-sizing: border-box;
}

#welcome-meme {
  width: 100%;
  height: 100%;
}

.drakeTop {
  position: absolute;
  color: black;
  top: 12%;
  right: 40%;
  background-color: transparent;
  font-size: 3.5vw;
  max-width: 20%;
}

.drakeBottom {
  position: absolute;
  color: black;
  bottom: 12%;
  right: 40%;
  background-color: transparent;
  font-size: 3.5vw;
  max-width: 20%;
}
.freewayTop {
  position: absolute;
  color: aliceblue;
  top: 14%;
  left: 13%;
  background-color: transparent;
  font-size: 1.5vw;
  max-width: 10%;
}

.freewayBottom {
  position: absolute;
  color: aliceblue;
  top: 16%;
  right: 60%;
  background-color: transparent;
  font-size: 1.5vw;
  max-width: 10%;
}

.tradeofferTop {
  position: absolute;
  color: aliceblue;
  top: 16%;
  left: 4%;
  background-color: transparent;
  font-size: 1.5vw;
  max-width: 10%;
}

.tradeofferBottom {
  position: absolute;
  color: aliceblue;
  top: 16%;
  left: 16%;
  background-color: transparent;
  font-size: 1.5vw;
  max-width: 10%;
}

@media (max-width: 480px) {
  #drake {
    width: 100%;
    height: 50%;
  }

  .drakeTop {
    top: 2%;
    right: 3%;
    font-size: 9vw;
    max-width: 45%;
  }

  .drakeBottom {
    top: 25%;
    right: 3%;
    font-size: 9vw;
    max-width: 45%;
  }

  #freeway {
    width: 100%;
    height: 50%;
  }

  .freewayTop {
    top: 7%;
    left: 25%;
    font-size: 3vw;
    max-width: 15%;
    color: aliceblue;
  }

  .freewayBottom {
    top: 9%;
    right: 30%;
    font-size: 3vw;
    max-width: 15%;
    color: aliceblue;
  }

  #tradeoffer {
    width: 100%;
    height: 50%;
  }

  .tradeofferTop {
    top: 20%;
    left: 15%;
    font-size: 4vw;
    max-width: 30%;
    color: aliceblue;
  }

  .tradeofferBottom {
    top: 20%;
    left: 70%;
    font-size: 4vw;
    max-width: 30%;
    color: aliceblue;
  }
}
